**STEPS**
- Import the libraries
- Read the data
- check for unknown values
- impute the values

In [1]:
#Importing and aliasing
import numpy as np
import pandas as pd

#Reading in Data

In [ ]:
#read in csv
df = pd.read_csv('some_url_or_filepath.csv') # reading
print(df.head())                            # Displaying top 5 samples

In [ ]:
#uploading a file
from google.colab import files
upload = files.upload()

In [ ]:
#renaming headers during upload
url = 'some_url_or_filepath.csv'
df = pd.read_csv(url,names=['column1', 'column2', 'column3'])

#Exploring Data

In [6]:
#show the first X rows in the dataframe, no value defaults to 5
df.head(1)

NameError: name 'df' is not defined

In [ ]:
#show the last X rows in the dataframe, no value defaults to 5
df.tail(1)

In [ ]:
#summary of the dataframe
df.info()

In [ ]:
#get basic stats on any numeric features
df.describe()

In [ ]:
#dimensions of the dataframe
df.shape

In [ ]:
#what are the data types of the different features
df.dtypes

In [ ]:
#return a list of the index values
df.index

In [ ]:
#how many items in each feature of a dataframe
df.count()

In [ ]:
#Check the unique values of columns.
df.unique()

In [ ]:
#Duplicate
df.duplicated.values.any()

In [ ]:
#occurance of duplicate values
df.duplicated.values.sum()

In [ ]:
#drop dublicate
df.drop_duplicates()

In [ ]:
#drop a column
col_name='column1'
df.drop(col_name,axis=1)

In [ ]:
#count how many of each item in a feature
df['column1'].value_counts()

In [ ]:
#count how many unique values in a category
df['column1'].value_counts().count()
df['column1'].nunique()

In [ ]:
#Return a list of all unique values in the series
df['column1'].unique()

In [ ]:
#how many null or non-null values are there and what features are they in
df.isnull().sum()
df.notnull().sum()

In [ ]:
#Access columns or rows by their label
df.loc['column_or_index_name']

In [ ]:
#Access columns or rows by their integer position
df.iloc[5]

In [ ]:
#Access a single value from a row/column pair
df.at[2, 'column3']

In [ ]:
#map values in a series according to a dictionary
df['column1'].map({'value1':'value11','value2':'value22'})

In [ ]:
#Return boolean vector of rows that are between the 2 values
df['column1'].between(1, 5, inclusive=True)

In [ ]:
#Return boolean vector of rows that are greater than series or scalar
df['column1'].gt(5)
df['column1'].gt(df['column2'])

In [ ]:
#Return boolean vector of rows that are less than series or scalar
df['column1'].lt(5)
df['column1'].lt(df['column2'])

In [ ]:
#return only the values, index and column labels are dropped
df.to_numpy()

In [ ]:
#Apply a function to an axis of the data frame
df.apply(np.sum, axis='index')

In [ ]:
#Transpose the dataframe (columns become index, index becomes columns)
df.T

In [ ]:
#addittional useful pandas calls
df.groupby() #https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
df.interpolate() #https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html

In [ ]:
#binning with pd.cut
bins = pd.cut(df['column1'], 5) #create 5 bins

In [ ]:
#crosstab for quick small tables (will not run, just example)
pd.crosstab(bin_or_feature, bin_or_feature, normalize='columns')

In [ ]:
#pivot table
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
table = pd.pivot_table(df, values=['column1'],
                       index=['column2'],columns=['column3'])

table = pd.pivot_table(df, values=['column1'],
                       index=['column2'],columns=['column3'], aggfunc=np.sum)

In [ ]:
#prevent dataframe truncation by adjusting pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

ser.cat.codes: Return Series of codes as well as the index.

https://pandas.pydata.org/docs/reference/api/pandas.Series.cat.codes.html

In [ ]:
raw_cate = pd.Categorical(["a", "b", "c", "a"], categories=["a", "b"])
ser = pd.Series(raw_cate)
print(ser)
print(ser.cat.codes)

#Data Cleaning

In [ ]:
#rename columns after reading in
df = pd.read_csv(df, header=None)
feature_map = {0: 'column1',
               1: 'column2',
               2: 'column3'}

df.rename(columns=feature_map, inplace=True)

In [ ]:
#replacing values in a data set with a new value
df = df.replace('?', np.NaN)

In [ ]:
#setting categories to type 'category' for faster operations
df['column1'] = df['column1'].astype('category')

In [ ]:
#label encoding
df['column1'] = df['column1'].cat.codes

In [ ]:
#one hot encoding
df = pd.get_dummies(df, columns=['column1'], prefix = ['column1'])
df.head()

In [ ]:
!pip install category_encoders as ce
#binary encoding
encoder = ce.BinaryEncoder(cols=['column1'])
df = encoder.fit_transform(df)

- Fill NA/NaN values using the specified method.

DataFrame.fillna(value=None, *, method=None, axis=None, inplace=False, limit=None, downcast=_NoDefault.no_default)
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

In [ ]:
#filling null values
df.fillna(0) #fill nulls with a value
df.fillna(method='ffill') #fill based on a method chosen from  {‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}
df.fillna(value={'A': 0, 'B': 1, 'C': 2, 'D': 3}) #fill each feature with a different value
df.fillna(value=values, limit=1) #fill a set number of nulls

In [ ]:
#dropping null values
df.dropna() #drop rows
df.dropna(axis='columns') #drop columns
df.dropna(axis='rows', thresh=3) # drop rows with fewer non-nulls than the threshhold

In [ ]:
#add a column
df['new feature'] = 'Value' #new column with same value for all rows
df['new feature'] = df2['df2 feature'] #new column from another dataframe column

In [ ]:
#drop a column or row
df.drop('column1', axis='columns')

In [ ]:
#combine two data frames
df3 = df1.append(df2)

In [ ]:
#use np.where to encode a category based on values in another category
df['column1'] = np.where(df['column2'].str.contains('value'), 1, 0)

In [ ]:
#loop to impute values based on whether they are numeric or categorical
from pandas.api.types import is_numeric_dtype

for column in df:
  if is_numeric_dtype(df[column]):
    #do something with the numeric features here
  else:
    #do something with the categorical features here

In [ ]:
#Cast a column to datetime
df['column1'] = pd.to_datetime(df['column1'])

In [ ]:
#typecasting a column
df['column1'] = df['column1'].astype(int)

In [ ]:
#drop a row or column
df = df.drop(['column1','column2'], axis='columns')

In [ ]:
#set a column as the index
df = df.set_index('column1')